
$theme: '.ace.synapse-theme';
.forms-alt {
  border-radius: 6px!important;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.20)!important;  
}

.basic-information-first {
  top: 35px;
  height: 38px;
  width: 278px;
  right: 332px;
}

.basic-information-last {
  top: 35px;
  height: 38px;
  width: 278px;
  right: 22px;
}

.basic-information-location {
  top: 90px;
  height: 38px;
  width: 278px;
  right: 332px;
}

.basic-information-email {
  top: 90px;
  height: 38px;
  width: 278px;
  right: 22px;
}

.update-password-password {
  top: 35px;
  height: 38px;
  width: 278px;
  right: 332px;
}

.update-password-password-confirm {
  top: 35px;
  height: 38px;
  width: 278px;
  right: 22px;
}

.blog-title {
  top: 59px;
  height: 38px;
  width: 278px;
  left: 262px;
}

.share-url {
  top: 59px;
  height: 38px;
  width: 278px;
  right: 28px;
}

.blog-description {
  top: 105px;
  height: 358px;
  right: 28px;
  left: 262px;
}