.absolute {
	position: absolute;
}

.anchor_top {
	top: 0px;
	left: 0;
	right: 0;
	height: 4px;
}

.anchor_bottom {
	bottom: 0px;
	left: 0;
	right: 0;
	height: 4px;
}

.embeded_gradient {
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(238,241,246,0.50) 51%, rgba(238,241,246,0.50) 52%, rgba(255,255,255,0) 100%); 
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(51%,rgba(238,241,246,0.50)), color-stop(52%,rgba(238,241,246,0.50)), color-stop(100%,rgba(255,255,255,0))); 
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(238,241,246,0.50) 51%,rgba(238,241,246,0.50) 52%,rgba(255,255,255,0) 100%); 
	background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(238,241,246,0.50) 51%,rgba(238,241,246,0.50) 52%,rgba(255,255,255,0) 100%); 
	background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(238,241,246,0.50) 51%,rgba(238,241,246,0.50) 52%,rgba(255,255,255,0) 100%); 
	background: linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(238,241,246,0.50) 51%,rgba(238,241,246,0.50) 52%,rgba(255,255,255,0) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); 
}

.shadow_view {
	background-image: sc_static('images/shadow.png');
}

.shadow_view_long {
	background-image: sc_static('images/shadow_long.png');
}

.flipped_element {
	-moz-transform:rotate(180deg);
	-moz-transform:rotate(180deg); -moz-transform:skewx(25deg) translatex(150px);
	-webkit-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1.5);	
}

.text_style {
	color: #666666;
  font-family: "Helvetica Neue";
  text-shadow: 0px 1px 1px #ffffff;
}

.text_style_paragraph {
	font-family: "Lucida Grande";
	font-weight: normal;
  font-size: 14px !important;
	color: rgba(102, 102, 102, 0.8);
}

.app_name {
	font-weight: bolder;
  font-size: 24px !important;
}

.sign_in_text {
	top: 70px;
	left: 30px;
	font-weight: bold;
  font-size: 30px !important;
}

.line {
	background-color: rgba(102, 102, 102, 0.2);
  text-shadow: 0px 1px 1px #ffffff;
	height: 1px;
	width: 130px;
	top: 108px;
	left: 30px;
}

.forms {
	border-radius: 10px!important;
	background: white;
	border: 1px solid #bbbbbb!important;
}

.signin_forms {
	top: 105px;
	height: 88px;
	width: 268px;
	right: 92px;
}

.line_forms_signin {
	background-color: rgba(102, 102, 102, 0.2);
  text-shadow: 0px 1px 1px #ffffff;
	height: 1px;
	width: 268px;
	top: 150px;
	left: 394px;
	z-index: 2;
}


.safari .sc-text-field-view .border {
  -webkit-appearance: none !important;
}
 
.webkit .sc-text-field-view .border {
  -webkit-appearance: none !important;
}

.mobile-safari .sc-text-field-view .border {
  border: 0px inset;
}

.sc-text-field-view.focus{
  outline: none !important;
}

.text_field_signin.sc-text-field-view input {
   position: absolute;
   top: 0px;
   left: 2px;
   width: 100%;
   height: 100%;
   display: block;
   background: transparent;
   vertical-align: middle;
   border: none;
   outline: none;
   -webkit-appearance: none;
}

.text_field_signin.sc-text-field-view .sc-hint, .sc-text-field-view .hint {
  z-index: 0 !important;
  position: absolute;
  top: 6px;
  left: 3px;
  right: 1px;
  bottom: 3px;
  padding: 0px;
  color: #AAA;
  font-size: 12px;
}

.text_field_signin.sc-text-field-view .padding {
  top: 2px;
  left: 7px;
  bottom: 0px;
  right: 3px;
  position: absolute;
}

.text_field_signin.sc-text-field-view textarea {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	bottom: 0px;
	right: 0px;
	padding-top: 0.0px;
	display: block;
	background: transparent;
	vertical-align: middle;
	resize: none;
	overflow: auto;
	border: none;
	outline: none;
	-webkit-appearance: none;
}

/* signin_action_button */
.signin_action_button.sc-button-view.sc-regular-size.square,
.signin_action_button.sc-button-view.sc-regular-size.square.active,
.signin_action_button.sc-button-view.sc-regular-size.square:hover {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
    background: linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
   border: 1px 	#B2B2B2 solid !important;
   border-radius: 4px;
   cursor: pointer;
}

.signin_action_button.sc-button-view.sc-regular-size.square .sc-button-inner {
    background: none;
    border-radius: 0px;
    cursor: pointer;
}

.signin_action_button.sc-button-view.sc-regular-size.square .sc-button-label {
    margin-left: 0px;
    background: none;
    cursor: pointer;
    vertical-align: left;
    color: gray;
    height: 100%;
    line-height: 25px;
    font-size: 12px;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.5);
}

.signin_action_button.sc-button-view.sc-regular-size.square .sc-button-label:hover {
    height: 100%;
    line-height: 25px;
    margin-left: 0px;
    background: none;
    cursor: pointer;
    vertical-align: left;
    color: gray;
    font-weight: normal;
    font-size: 12px;
    font-family: "Lucida Grande";
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.5);
}

.signin_action_button.sc-button-view.sc-regular-size.square .sc-button-label:active {
    height: 100%;
    line-height: 25px;
    margin-left: 0px;
    background: none;
    cursor: pointer;
    vertical-align: left;
    color: gray;
    font-weight: normal;
    font-size: 12px;
    font-family: "Lucida Grande";
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
}


.signin_action_button.sc-button-view label {
  position: relative;
  display: block;
  line-height: 21px;
  text-align: center;
}

.webkit .sc-text-field-view .border {
  -webkit-appearance: none !important;
}

/* Cancel Button */
.cancel_action_button.sc-button-view.sc-regular-size.square,
.cancel_action_button.sc-button-view.sc-regular-size.square.active,
.cancel_action_button.sc-button-view.sc-regular-size.square:hover {
   background: rgb(183,183,183); /* Old browsers */
   background: -moz-linear-gradient(top,  rgba(183,183,183,1) 0%, rgba(127,127,127,1) 50%, rgba(109,109,109,1) 51%, rgba(109,109,109,1) 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(183,183,183,1)), color-stop(50%,rgba(127,127,127,1)), color-stop(51%,rgba(109,109,109,1)), color-stop(100%,rgba(109,109,109,1))); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  rgba(183,183,183,1) 0%,rgba(127,127,127,1) 50%,rgba(109,109,109,1) 51%,rgba(109,109,109,1) 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  rgba(183,183,183,1) 0%,rgba(127,127,127,1) 50%,rgba(109,109,109,1) 51%,rgba(109,109,109,1) 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  rgba(183,183,183,1) 0%,rgba(127,127,127,1) 50%,rgba(109,109,109,1) 51%,rgba(109,109,109,1) 100%); /* IE10+ */
   background: linear-gradient(to bottom,  rgba(183,183,183,1) 0%,rgba(127,127,127,1) 50%,rgba(109,109,109,1) 51%,rgba(109,109,109,1) 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7b7b7', endColorstr='#6d6d6d',GradientType=0 ); /* IE6-9 */
   border: 1px 	#B2B2B2 solid !important;
   border-radius: 4px;
   cursor: pointer;
}

.cancel_action_button.sc-button-view.sc-regular-size.square .sc-button-inner {
    background: none;
    border-radius: 0px;
    cursor: pointer;
}

.cancel_action_button.sc-button-view.sc-regular-size.square .sc-button-label {
    margin-left: 0px;
    background: none;
    cursor: pointer;
    vertical-align: left;
    color: rgb(221, 221, 221);
    height: 100%;
    line-height: 25px;
    font-size: 12px;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.5);
}

.cancel_action_button.sc-button-view.sc-regular-size.square .sc-button-label:hover {
    height: 100%;
    line-height: 25px;
    margin-left: 0px;
    background: none;
    cursor: pointer;
    vertical-align: left;
    color: rgb(221, 221, 221);
    font-weight: normal;
    font-size: 12px;
    font-family: "Lucida Grande";
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.5);
}

.cancel_action_button.sc-button-view.sc-regular-size.square .sc-button-label:active {
    height: 100%;
    line-height: 25px;
    margin-left: 0px;
    background: none;
    cursor: pointer;
    vertical-align: left;
    color: rgb(221, 221, 221);
    font-weight: normal;
    font-size: 12px;
    font-family: "Lucida Grande";
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.5);
}


.cancel_action_button.sc-button-view label {
  position: relative;
  display: block;
  line-height: 21px;
  text-align: center;
}






